// Colors
$bg-color: hsl(256,33,10);
$dot-color: hsl(256,33,70);

// Dimensions
$dot-size: 1px;
$dot-space: 22px;

body{
    margin: auto;
    text-align: center;
    overflow-x: hidden;
}    

.page{
    margin: auto;
}

/* ------------------------------------------------------------- NAVBAR */

#navbar{
    position: fixed;
    top: 0;
    background-color: white;
    opacity: 0.95;
    width: 100%;
    height: 88px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 6vw;
    padding-right: 6vw;
    transition: 0.3s ease;
    z-index: 1;
}

#navbar .logo{
    display: block;
    opacity: 0.1;
    float: left;
    width: 72px;
    margin-top: 6px;
    margin-left: 48px;
    transition: all 0.1s ease;
}

#navbar .logo:hover{
    opacity: 1;
}


#navbar a.tab{
    float: right;
    display: inline-block;
    width: 120px;
    height: 40px;
    color: black;
    font-family: museo-sans, sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    transition: all 0.1s;
    
}

#navbar a.tab:hover{
    background-color: #ffffff;
    color: #2d2d2d;
    border-style: solid;
    border-color: #2d2d2d;
    border-radius: 0px;
    box-shadow: 4px 4px #2d2d2d;
    text-decoration: none;
    transform:translate(-4px,-4px);
}

.active{
    background-color: #ebebeb;
    border-radius: 6px;
    box-shadow: 6px 6px #b2b2b2;
    text-decoration: none;
    border: 
}


/* ------------------------------------------------------------- BUFFERS */

#pagebuffer{
    margin: auto;
width: 100%;
}

#rowbuffer1{
margin-top: 12vw;
}

#rowbuffer2{
margin-top: 4vw;
}

#footer{
margin-top: 4vw;
margin-bottom: 20px;
    
}

.bucket{
    margin-top: 12vw;

}

/* ------------------------------------------------------------- BOXES */

.box1{
    width: 448px;
    height: 448px;
    margin: 10px;
    padding: 3vw;
}


.box2{
    height: 448px;
    width: 916px;
    margin: 8px;
    padding-left: 4vw;
    padding-right: 4vw;
}

.box3{
    height: 448px;
    width: 448px;
    margin: 10px;
}

.box3:hover{
    background: solid;
    background-color: #f3f2f1;
    border-style: solid;
    border-color: #2d2d2d;
    display: block;
    box-shadow: 8px 8px;
    transform: translate(-8px,-8px);
    transition: transform .1s ease-out;
    background-image: radial-gradient(#2d2d2d 20%, #ffffff 20%);
    background-position: 0 0;
    background-size: 5px 5px;
}

.box3 .cardname{
    padding-top: 0.7vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.box4{
    height: 249.5px;
    width: 331px;
    margin: 10px;
}


.box4:hover{
    background: solid;
    border-style: solid;
    border-color: #2d2d2d;
    display: block;
    box-shadow: 8px 8px;
    transform: translate(-8px,-8px);
    transition: transform .1s ease-out;
}

.box5{
    width: 100%;
    height: 331px;
    margin: 10px;
    padding: 3vw;

}

.box6{
    height: 248.5px;
    width: 61.5px;
    margin: 10px;
}

.box7{
    height: 96px;
    width: 331px;
    margin: 10px;
}

.box8{
    height: 96px;
    width: 96px;
    margin: 10px;
}

.box8:hover{
    display: block;
    box-shadow: 8px 8px;
    transform: translateY(-8px);
}



/* --------------------------------------------------- IPAD */
@media only screen and (max-width: 1024px) {
    
    .box1 {
        width: 916px;
        height: 336px;
    }
    
    .box2{
        height: 336px;
    }
    
    .box4{
        width:448px;
        height: 337px;
    }
}


/* -------------------------------------------------------------THEMES */

.themedotted{
	background-image: radial-gradient(#2d2d2d 20%, #f0f0f0 20%);
    background-position: 0 0;
    background-size: 5px 5px;
    border-style: solid;
    border-color: #2d2d2d;
    color: #2d2d2d;
}


.themedark{
    display: block;
    background: solid;
    background-color: #2d2d2d;
    border-style: solid;
    border-color: #2d2d2d;
    color: white;
}

.themelight{
    display: block;
    background: solid;
    background-color: #ffffff;
    border-style: solid;
    border-color: #2d2d2d;
    color: #2d2d2d;
}

.themecolor1{
    display: block;
    background: solid;
    background-color: antiquewhite;
    border-style: solid;
    border-color: #2d2d2d;
    color: #2d2d2d;
}


/* ------------------------------------------------------------ MISC.*/
.projectimage{
    border-radius: 4px;
    z-index: -1;
}


/* --------------------------------------------------------- TEXT STYLE */
.heading1{
    font-family: 'prompt', sans-serif;
    color: #dedede;
    font-size: 72px;
    font-weight: 300;
}

.heading2{
    font-family: 'prompt', sans-serif;
    font-size: 36px;
    font-weight: 500;
}

.heading3{
    font-family: prompt, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4;
}

.heading4{
    font-family: prompt, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
}

.caption_new{
    font-family: proxima-nova, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: ##2d2d2d;
}

/* ----------------------------------------------------------- BOXES */































#videointerface{
position: sticky;
}

#video{
position: sticky;
}


.projectmargintopleft{
    margin-top: -200px;
}

#sticker{
    display: block;
}

#button{
    text-align: center;
    outline: none;
    height: 60px;
    width: 500px;
    border: 2px solid #484848;
    color: #484848;
    background: white;
    font-family: museo-sans, sans-serif;
    font-weight: 900;
    font-size: 25px;
    transition: 0.4s ease;
}

#button:hover{
    color: white;
    border: 2px solid #484848;
    background: #484848;
    font-weight: 900;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.buffer{
    height: 120px;
    margin-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.bufferabout{
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 100px;
    padding-right: 100px;
}

.navtab{
    
}


.introbox{
    background: white;
    text-align: center;
    display: block;
    height: 150px;
    margin-top: 240px;
    margin-bottom: 160px;
    border-radius: 12px;
    box-shadow: 12px 12px white;
}

.introboxtext{
    width: 84%;
    text-align: center;
    padding-top:36px;
    padding-left: 10%;
}

.aboutboxone{
    line-height: 24px;
    text-justify: inter-word;
    font-weight: 300px;
    margin-top: 0px;
}

.aboutboxtwo{
    line-height: 28px;
    text-align: justify;
    text-justify: inter-word;
    font-weight: 300px;
    margin-top: 40px;
}



.box{
    display: block;
    background: #ebebeb;
    border-radius: 8px;
    width: 364px;
    height: 80px;
    padding: 12px;
    box-shadow: 12px 12px #b2b2b2;
    margin-bottom: -120px;
}

.titlebox{
    display: block;
    background: #ebebeb;
    height: 68px;
    width: 360px;
    border-radius: 12px;
    box-shadow: 12px 12px #b2b2b2; 
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
    margin-top: 80px;
    margin-bottom: -40px;
    
}



.projectrow{
    height: 40vw;
}



/* -------------------------------------------------------- HEADING BOXES */

------------------------------------------------------------------ /* CARD STYLES */

------------------------------------ /* CARD SIZE */

.cardcolumn{
    margin-bottom: 80px;
}

.cardbox{
    display: block;
    width:24vw;
    border-radius: 7px;
    transition: 0.1s ease;
}

.cardbox:hover{
    background: solid;
    background-color: #ffffff;
    border-style: solid;
    border-color: #232930;
    display: block;
    box-shadow: 12px 12px;
    transform: translateY(-12px);
}





.cardtitle{
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 32px;
    line-height: 1.4;
}

.cardcontent{
    font-family: 'proxima-nova', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 1.4;
}


.contacticon{
    display: inline-block;
    background-color: #797979;
    text-align: center;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    transition: 0.1s ease;
}

.contacticon:hover{
    background-color: #b2b2b2;
    transform: translateY(-2px);
}

.logobox{
    display: inline-block;
    background-color: white;
    height:80px;
    width:80px;
    border-radius: 1px;
    margin-top: -10px;
    padding: 8px;
    box-shadow: 4px 4px #0000;
}

.logoboxtwo{
    display: inline-block;
    background-color: white;
    height:54px;
    width:54px;
    border-radius: 1px;
    margin-top: -10px;
    padding: 8px;
    box-shadow: 4px 4px #0000;
}


.logoimage{
    border-radius: 40px;
}

.projectbio{
    opacity: 0;
    color: white;
    height: 180px;
    margin-top: -180px;
    padding-left: 16px;
    padding-right: 16px;
    z-index: 1;
    font-weight: 300px;
}


.projecttitle{
    display: block;
    color: black;
    margin-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    transition: all 0.1s ease;
}




a.projectname{
    color: black;
    text-decoration: none;
}



a.projectname:hover{
    font-style: normal;
    color: #b2b2b2; 
    text-decoration: none;
}