
body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}    

.bufferintro{
    margin-top: 100px;
    margin-bottom: 100px;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

#navbar{
    position: fixed;
    top: 0;
    background-color: white;
    opacity: 0.95;
    width: 100%;
    height: 88px;
    margin-top: -10px;
    padding: 20px;
    transition: 0.3s ease;
    z-index: 1;
}

#navbar .logo{
    display: block;
    opacity: 0.1;
    float: left;
    width: 72px;
    margin-top: 6px;
    margin-left: 48px;
    transition: all 0.1s ease;
}

#navbar .logo:hover{
    opacity: 0.8;
}


#navbar a.tab{
    float: right;
    display: inline-block;
    width: 120px;
    height: 40px;
    color: black;
    font-family: museo-sans, sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    transition: all 0.1s;
    
}

#navbar a.tab:hover{
    background-color: #232729;
    color: white;
    border-radius: 6px;
    box-shadow: 6px 6px #b2b2b2;
    text-decoration: none;
    transform: translateY(-2px)
}

.active{
    background-color: #ebebeb;
    border-radius: 6px;
    box-shadow: 6px 6px #b2b2b2;
    text-decoration: none;
    border: 
}



#videointerface{
position: sticky;
}

#video{
position: sticky;
}


.projectmargintopleft{
    margin-top: -200px;
}

#sticker{
    display: block;
}

#button{
    text-align: center;
    outline: none;
    height: 60px;
    width: 500px;
    border: 2px solid #484848;
    color: #484848;
    background: white;
    font-family: museo-sans, sans-serif;
    font-weight: 900;
    font-size: 25px;
    transition: 0.4s ease;
}

#button:hover{
    color: white;
    border: 2px solid #484848;
    background: #484848;
    font-weight: 900;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.buffer{
    padding-left: 5%;
    padding-right: 5%;
}

.bufferabout{
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 100px;
    padding-right: 100px;
}

.navtab{
    
}


.introbox{
    background: white;
    text-align: center;
    display: block;
    height: 150px;
    margin-top: 240px;
    margin-bottom: 160px;
    border-radius: 12px;
    box-shadow: 12px 12px white;
}

.introboxtext{
    width: 84%;
    text-align: center;
    padding-top:36px;
    padding-left: 10%;
}

.aboutboxone{
    line-height: 24px;
    text-justify: inter-word;
    font-weight: 300px;
    margin-top: 0px;
}

.aboutboxtwo{
    line-height: 28px;
    text-align: justify;
    text-justify: inter-word;
    font-weight: 300px;
    margin-top: 40px;
}



.box{
    display: block;
    background: #ebebeb;
    border-radius: 8px;
    width: 364px;
    height: 80px;
    padding: 12px;
    box-shadow: 12px 12px #b2b2b2;
    margin-bottom: -120px;
}

.titlebox{
    display: block;
    background: #ebebeb;
    height: 68px;
    width: 360px;
    border-radius: 12px;
    box-shadow: 12px 12px #b2b2b2; 
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
    margin-top: 80px;
    margin-bottom: -40px;
    
}

.cardbox{
    display: block;
    margin-bottom: 36px;
    padding: 12px;
    border-radius: 12px;
    transition: 0.1s ease;
}

.cardbox:hover{
    background: #232930;
    display: block;
    box-shadow: 12px 12px;
    
}

.cardbox:hover .projectimage{
    opacity: 0.3;
    transition: 0.1s ease;
}

.cardbox:hover .projecttitle{
    color: white;
}

.cardbox:hover .projecttitle{
    transform: translateY(-4px);
}


.cardboxproject{
    display: block;
    width: 100%;
    height: 540px;
}




.cardboxsmall{
    display: inline-block;
    height: 132px;
    color: white;
}

.cardboxsmalltext{
    opacity: 0;
    margin-top: -48px;
    margin-left: 12px; 
}

.cardbox:hover .cardboxsmalltext{
    opacity: 1;
    z-index: 1;
    color: white;
}

.cardbox:hover .projectbio{
    opacity: 1;
}

.contactbox{
    margin-bottom: 40px;
}

.contacticon{
    display: inline-block;
    background-color: #797979;
    text-align: center;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    transition: 0.1s ease;
}

.contacticon:hover{
    background-color: #b2b2b2;
    transform: translateY(-2px);
}

.logobox{
    display: inline-block;
    background-color: white;
    height:80px;
    width:80px;
    border-radius: 1px;
    margin-top: -10px;
    padding: 8px;
    box-shadow: 4px 4px #0000;
}

.logoboxtwo{
    display: inline-block;
    background-color: white;
    height:54px;
    width:54px;
    border-radius: 1px;
    margin-top: -10px;
    padding: 8px;
    box-shadow: 4px 4px #0000;
}

.logoimage{
    border-radius: 40px;
}

.projectbio{
    opacity: 0;
    color: white;
    height: 180px;
    margin-top: -180px;
    padding-left: 16px;
    padding-right: 16px;
    z-index: 1;
    font-weight: 300px;
}


.projecttitle{
    display: block;
    color: black;
    margin-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    transition: all 0.1s ease;
}

.projectimage{
    border-radius: 8px;
    z-index: -1;
}

.projectimage_project{
    margin-bottom: 16px;
    border-radius: 8px;
    z-index: -1;
}



.footer{
    display: block;
    color:#797979
    float: center;
    text-align: center;
    background: #232729;
    height: 220px;
    width: 100%px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -100px;
    padding-top: 40px;
    padding-bottom: 20px;
}








#headerbuffer{
    margin-top: 160px;
    margin-bottom: 6px;  
}



.headerbuffer{
    margin-top: 160px;
    margin-bottom: 6px;  
}

.imagebox{
    margin-top: -12px;
    margin-left: -20px;
    margin-right: 20px;
}

.timeline{
    padding-top: 36px;
    padding-left: 10%;
    margin-bottom: 48px;
}

.timelinetext{
    display: inline-block;
    background-color: white;
    height: 48px;
    padding: 20px;
    
}


.titlespacing{
    text-justify: inter-character;
}














.roleblock{
    color: #b2b2b2;
}



.headingbox{
    display: block;
    color: black;
    width: 100%;
    margin-top: 160px;
    margin-bottom: 64px;
    letter-spacing: 12px;
}

.headingline{
    display: block;
    background-color: black;
    width: 100%;
    height: 1px;
    border-radius: 1px;
}

.extraprojectbox{
    display: block;
    margin-top: 0px;
    margin-bottom: 120px;
    padding-left: 4%;
    padding-right: 4%;
}

.subtitlebox{
    margin-top: 80px;
    margin-bottom: 20px;
    
}








